.sidebar {
  width: 250px;
  height: 100vh;
  background: #0a335d;
  position: relative;
  h1 {
    color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &-container {
    padding-left: 10px;
    list-style: none;
  }
  &-footer {
    i {
      color: #f8f8f8;
      font-size: 30px;
    }
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-right: 20px;
    cursor: pointer;
  }
  &-tab {
    padding: 10px 30px 10px 20px;
    background: #0a335d;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 63px;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
  }
  .active-tab {
    background: #f8f8f8;
    border-top-left-radius: 63px;
    border-bottom-left-radius: 63px;
    color: #0a335d;
  }

  // &-tab {
  //   color: white;
  //   padding-left: 38px;
  //   cursor: pointer;
  //   display: flex;
  //   font-size: 18px;
  //   margin-left: 10px;
  //   align-items: center;
  //   height: 63px;
  //   background: #0a335d;
  //   div {
  //     width: 130px;
  //   }
  // }
  // &-container {
  //   background: #f8f8f8;
  //   margin-top: 120px;
  //   height: 500px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  // }
  // .active-tab {
  //   background: #f8f8f8;
  //   color: #0a335d;
  //   border-top-left-radius: 63px;
  //   border-bottom-left-radius: 63px;
  // }
  .above-active {
    border-bottom-right-radius: 30px;
  }
  .below-active {
    border-top-right-radius: 30px;
  }
  .above-wrapper {
    background: #f8f8f8;
  }
  .below-wrapper {
    background: #f8f8f8;
  }
}
